.homePage {
    color: white;
    background-color: black;
}

.homeImg {
    width: 95rem;
    height:40rem;
    align-items: left;
    justify-content: left;
}

.whatDoWeDo {
    position: relative;
    left: 70%;
    border-radius: 16px 16px 16px 16px;
    width: 22rem;
    color: white;
    background-color: black;
    margin-top: 5rem;
}

.completeYourProfile{
    margin-left: 1em;
display: flex;
padding: 100px 0px 0px 0px;
}


.phoneInfo {
    margin-top: 10em;
    width: 30rem;
    height: 7rem;
    margin-left: 10em;
    
}

.phoneImg {
position: flex;
  width: 475px;
  height: 466px;
  margin-left: 3em;
  border-radius: 16px 16px 16px 16px;
}

.yourSportNutritionist{
 display: flex;
 padding: 150px 0px 150px 0px;
}

.yourNutritionist{
    width: 475px;
  height: 466px;
    margin-left: 10rem;
}

.nutritionistInfo {
    margin-top: 10em;
    width: 40rem;
    height: 7rem;
    margin-left: 3rem;
}

.nutritionistImg {
  position: flex;
  width: 475px;
  height: 466px;
  border-radius: 16px 16px 16px 16px;
}

.training {
    margin-left: 1em;
display: flex;
padding: 100px 0px 150px 0px;
}

.yourCoach{
    margin-top: 10rem;
    border-radius: 16px 16px 16px 16px;
    width: 22rem;
    color: white;
    background-color: black;

}

.trainingInfo {
    margin-top: 10em;
    width: 30rem;
    height: 7rem;
    margin-left: 10em;
}

.coachImg {
    position: flex;
    width: 475px;
    height: 466px;
    margin-left: 3em;
    border-radius: 16px 16px 16px 16px;
}

.doubts{
    position: relative;
    left: 70%;
    border-radius: 16px 16px 16px 16px;
    width: 22rem;
    color: white;
    background-color: black;
    margin-top: 5rem;
    padding-bottom: 15rem;
}

.firstPart {
    font-size: 30px;
}

.firstPartText {
    width: 300px;
    margin-left: 7rem;
    padding-top: 10rem;
    font-family: sans-serif;
    font-size: 18px;

}

.howItWorks {
    margin-top: 7em;
}