.homePage {
    color: white;
    background-color: black;
}

.oppositions{
    background-image: url(../../assets/police3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20em;
    

}

.firstPart {
    padding-top: 11em;
    padding-left: 1em;
    padding-bottom: 14em;
    width: 35em;
    height: fit-content;
    font-size: 20px;
    color: black;
    background-color: white;
    /* backdrop-filter: blur(20px); */
}

.opoxServices {
    padding-bottom: 6em;
}

.whoIsOpox {
    margin: auto;
    padding-top: 100px;
    padding-bottom: 3em;  
    font-size: 21px;
    line-height: 1.2;
    width: 50em;
}

.OurServices {
    padding-bottom: 3em;
}


.servicesContainer{
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    margin: 42px;
    justify-content: space-evenly;
}

p {
margin-top: 20px;
}


.policeImg {
    width: 300px;
    height: 310px;
    border-radius: 10px 10px 10px 10px;
}

.firefighterImg {
    width: 300px;
    height: 310px;
    border-radius: 10px 10px 10px 10px;
}

.forestryAgentImg{
    width: 300px;
    height: 310px;
    border-radius: 10px 10px 10px 10px;
}

.phoneImg {
position: flex;
  width: 475px;
  height: 466px;
  margin-left: 3em;
  border-radius: 16px 16px 16px 16px;
}


.nutritionistImg {
  position: flex;
  width: 475px;
  height: 466px;
  border-radius: 16px 16px 16px 16px;
}

.training {
    margin-left: 1em;
display: flex;
padding: 100px 0px 150px 0px;
}

.yourCoach{
    margin-top: 10rem;
    border-radius: 16px 16px 16px 16px;
    width: 22rem;
    color: white;
    background-color: black;

}

.trainingInfo {
    margin-top: 10em;
    width: 30rem;
    height: 7rem;
    margin-left: 10em;
}

.coachImg {
    position: flex;
    width: 475px;
    height: 466px;
    border-radius: 16px 16px 16px 16px;
}


.services {
    padding: 30px;
    width:fit-content
}
.serviceContent{
    padding: 26px;
}

.servicesImg {
    height: 70px;
    width: auto;
    float: right;
}

.servicesImg2 {
    height: 70px;
    width: auto;
    float: left;
}


.titlePrices {
    padding: 80px 0px 70px 0px;
    background-color: #171822;
    
}

.ourPrices {
   background-color: #171822;
}

.opoxPrices{
    margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding-bottom: 9em;
}
.priceContainer {
    
    height: 450px;
    margin: auto;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px white;
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    color: white;
}

.priceImg{
    height: 70px;
    width: auto;
    border-radius: 40%;
}

.priceContainer h2{
    font-size: 30px;
    margin-bottom: 35px;
}

.priceContainer h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.priceContainer p {
    display: block;
    margin-bottom: 20px;
}

.priceContainer:hover{
    background: #212330;
    color: #f1f1f2;
    transition: 0.2 all;
    cursor: pointer;
}

.button {
    display: inline-block;
    width: 150px;
    padding: 12px;
    background: red;
    text-decoration: none;
    color: white;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 600px;
    margin: auto;

}

.contactUs{
    background-image: url(../../assets/benchpress.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 200px;
}

.lastPart{
    padding-top: 7em;
    color: black;
    width: 25em;
    height: fit-content;
    font-size: 30px;
}