@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,500;0,700;1,500&family=Nunito:wght@700&display=swap');

*{
    box-sizing: border-box;
   
}


.navbar {
    background-color: #071952;
}


.headerPage {
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;

}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: yellow;
}




















/* .logo {
    cursor: pointer;
    margin-right: auto;
    height: 60px;
    padding-left: 120px;
}

.logoImg {
    height: 35px;
    width: 20px;
    margin-top: 10px;
    transition: all 0.3s;
    border-radius: 10px;
}

.logoImg:hover{
    transform: scale(1.2);
} */