.headerPage {
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: var(--space-medium);
    background-color: 

}

.linkDesign {
    padding: 4px;
    margin: auto;
    cursor: pointer;
    list-style: none;
}

.linkDesign:hover {
    color: red;
    transition: 0.5s;
}